<h1><%= @auction.title %></h1>
<p class="well"><%= @auction.detail %></p>
<h3>Current Price: <%= @current_price %></h3>
<p><span class="label <%= label_class(@auction.aasm_state) %>"><%= @auction.aasm_state.capitalize %></span></p>

<% if (@current_price.to_f > @auction.price.to_f) %>
  <% if @auction.may_reserve? %>
    <%= link_to "Reserve", auction_reservings_path(@auction),
          method: :post,
          data: {confirm: "Are you sure want to reserve?"},
          class: "btn btn-primary" %>
  <% end %>
<% else %>
  <p>Reserve Price Not Met</p>
<% end %>

<%# bidding ----------------------------------------------------------------- %>
<% if !@auction.reserved? %>
  <% if (current_user.id != @auction.user_id) %>
    <%= simple_form_for [@auction, @bid] do |f| %>
      <%= f.input :amount, as: :integer %>
      <%= f.submit "Bid" %>
    <% end %>
  <% end %>
  <hr>
  Previous bid:
  <br>
  <% @auction.bids.each do |bid| %>
    <% if bid.id != @auction.bids.last.id %>
    <div class="well">
      <%= bid.user.fullname.capitalize %>
      bid <b><%= number_to_currency(bid.amount) %></b>
      at <%= bid.created_at.strftime("%b %d, %Y at %I:%M %P") %>
    </div>
    <% end %>
  <% end %>
<% end %>
