<!DOCTYPE html>
<html>
<head>
  <title>Biddr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <nav>
      <%= link_to "HOME", root_path %>
      <%= link_to "New auction", new_auction_path %>
      <div class="pull-right">
        <% if user_signed_in? %>
          Welcome <%= current_user.fullname.capitalize %> |
          <%= link_to "Logout", sessions_path, method: :delete %>
        <% else %>
          <%= link_to "sign in", new_session_path %>
          <%= link_to "sign up", new_user_path %>
        <% end %>
      </div>
    </nav>

    <%#= flash || notice %>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% elsif flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <%= yield %>
  </div>

  <script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.alert').remove();
    }, 3000);
   })
  </script>

</body>
</html>
